.icon-cart{
  widht: 40px;
  height: 40px;
  stroke: black;
}
.icon-cart: hover{
  cursor: pointer;
}
header{
  display: flex;
  justify-content: space-between;
}
.container-icon{
  position: relative;
}
.count-products{
  position: absolute;
  top: 55%;
  right: 0;
  background-color: black;
  
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container-cart-products{
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px  rgba(0,0,0,0.20);
  border-radius: 10px;
}
.cart-product{
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  align-items: center;
}
.info-cart-products{
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}
.titulo-producto-carrito{
  font-size: 20px;
}
.precio-producto-carrito{
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}
.cantidad-producto-carrito{
  font-weight: 400;
  font-size: 20px;
}
.icon-close{
  width: 25px;
  height: 25px;
}
.icon-close:hover{
  stroke: red;
  cursor: pointer;
}
#contador-productos{
  font-size: 12px;
}
.cart-total{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.cart-total h3{
  font-size: 20px;
  font-weight: 700;
}
.total-pagar{
  font-size: 20px;
  font-weight: 900;
}
img{
  max-width: 100%;
  height: 75px;
  right: 80px;
}
.item:hover{
box-shadow: 0 10px 20px;
}
.info-product{
padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction:column;
  gap: 10px;
}
.container-items{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
}
.item img{
width: 100%;
height: 300px;
object-fit: cover;
border-radius: 10px 10px 0 0;
  transition: all .5s;
}
.item:hover img{
transform: scale(1.2);
}
  h1{
    font-family: cursive;
    background-color: grey;
    
  }
.price{
  font-size: 18px;
  font-weight: 900;
}
.info-product button{
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
}
.item figure{
  overflow: hidden;
}
body{
  margin: 0auto;
  max-width: 1200px;
  font-family: 'Lato';
  colour: grey;
}
.info-cart button{
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
}
.Lupa{
  widht: 40px;
  height: 40px;
  stroke: black;
  padding-right: 311px;
}
.hidden-cart{
  display: none;
}
.container{
  position: absolute;
}
input{
  outline: none;
  box-sizing: border-box;
  width: 300px;
  padding: 0 20px;
  font-size: 20px;
}
::placeholder{
  color: grey;
}
.btn{
  right: 60px;
}